.App {
  text-align: center;
  height: 100vh;
}

.search {
  height: 30vh;
}

.resultIMG {
  width: 200px;
  height: 100px;
}

.save {
  width: 200px;
  height: 20px;
}

.saved {
  justify: left;
  alignItems: left;
}

.result {
  display: flex;
  flex-direction: column;
}

.saved {
  display: flex;
  flex-direction: column;
}

.save {
   color: #75BCB;
}
