.App {
  text-align: center;
  height: 100vh;
}

.search {
  height: 30vh;
}

.resultIMG {
  width: 200px;
  height: 100px;
}

.save {
  width: 200px;
  height: 50px;
  text-align: left;
}

.savedContainer {
  justify: left;
  alignItems: left;
}

.header {
  text-align: left;
}

.result {
  display: flex;
  flex-direction: column;
}

.saved {
  display: flex;
  flex-direction: column;
}

.save {
   color: #75BCB;
}

.savedNote {
    color: #75BCB !important;
    width: 200px;
    height: 50px;
    text-align: left;
}
